/.vscode/
/.idea/
/*build*/
/output/
/scripts/__pycache__
/firmware/app/bin
/firmware/app/lib
/firmware/app/param
/firmSpare
/imgs/firmware.bin
/imgs/spare.bin
/imgs/rootfs.bin
/firmware/app/configs/devInfo.json
/firmware/app/bin/
/firmware/app/lib/
/firmware/media/bin/
/firmware/media/lib/